// IMPORT SECTION

// @import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites


// USER VARIABLES SECTION

$accent: orange; // Accent Color
$fontsize: 16px; // Body Font Size
$textcolor: #333; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$roboto: Roboto, sans-serif; // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter

$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// Media Breakpoints

$desktop:   		   'screen and (max-width: 1200px)';
$tablet-land:      'screen and (max-width: 991px)';
$tablet-port:    	 'screen and (max-width: 768px)';
$mobile-land:		 	 'screen and (max-width: 576px)';
$mobile-port:		 	 'screen and (max-width: 360px)';


// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-style: $fstyle;
    font-family: $fname;
    font-weight: $fweight;
    font-display: swap;
    src: local($fname), url($furl) format('woff2');
  }
}


@include font('Roboto', normal, 400, '../fonts/roboto-regular-webfont.woff2');
@include font('Roboto', italic, 400, '../fonts/roboto-italic-webfont.woff2');
@include font('Roboto', normal, 700, '../fonts/roboto-bold-webfont.woff2');
@include font('Roboto', italic, 700, '../fonts/roboto-bolditalic-webfont.woff2');


// GENERAL DOCUMENT STYLES

::placeholder {
  color: #666;
}

::selection {
  background-color: $accent;
  color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input, textarea {
  outline: none;
  &:focus:required:invalid { border-color: red }
  &:required:valid { border-color: green }
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0 15px;
  color: $textcolor;
  font-family: $roboto;
  font-size: $fontsize;
  line-height: 1.65;
  overflow-x: hidden;
}

.site__wrapper {
  max-width: 1200px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #000;
}
