@import 'config';


// -- Local Variebles
$border-accent: 1px solid blue;



// -- CUSTOM USER STYLES & IMPORTS

// Grid

.container {
  display: block;
}

.row {
  display: flex;
}

[class^='column'],
[class*=' column'] {
  width: 100%;
}

.column-sm {
  max-width: 150px;
}


// Layout

.container {
  text-align: center;

  > .row {
    &:last-child {border-bottom: 0;}
  }

  .row {
    border-bottom: $border-accent;

    [class^='column'],
    [class*=' column'] {
      border-right: $border-accent;
      &:last-child {border-right: 0;}
    }
  }
}

.row__top {

  .column {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.row__bottom {

  .column-left {
    width: 120%;
  }

  .column-right {
    width: 80%;
  }
}


// Media
@media #{$tablet-land} {
  .row__top {
    .column-right {display: none;}
  }
}

@media #{$tablet-port} {
  .container {
    .row {
      [class^='column'],
      [class*=' column'] {border-right: 0;}
    }
  }

  .row {flex-direction: column;}

  .column-sm {max-width: 100%;}

  .row__top {
    .column-right {display: block;}
  }

  .row__bottom {
    flex-direction: column;

    .column-left,
    .column-right {
      width: 100%;
    }
  }
}
